.product-list-container-cart {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4px;
    box-sizing: border-box;
}

.product-list-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-card-cart {
    display: grid;
    grid-template-columns: 30px 0.5fr 1.5fr 1fr;
    gap: 4px;
    align-items: flex-start;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 4px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    height: auto;
    background-color: #fff;
}

.product-card-cart:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkbox-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-wrapper-cart {
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.product-image-cart {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.product-info-cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-price-cart {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    color: #ff8800;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
}

.quantity-button {
    width: 30px;
    padding: 5px;
    background-color: #ff8800;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1em;
}

.quantity-button:hover {
    background-color: #e07800;
}

.quantity-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-controls span {
    margin: 0 8px;
    font-size: 1.2em;
}

.checkbox {
    display: none;
}

.custom-checkbox {
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.custom-checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: #ff8800;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
    border-radius: 2px;
}

.checkbox:checked + .custom-checkbox::after {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox:checked + .custom-checkbox {
    border-color: #ff8800;
    background-color: #fff;
}
